[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[scripts]
autostart = "python autostart.py"
key_hook_handler = "python key_hook_handler.py"


[requires]
python_version = "3.8"

